<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- NuGet.org (default) -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- GitHub Packages for Electrified-Trading organization -->
    <add key="github-electrified" value="https://nuget.pkg.github.com/Electrified-Trading/index.json" />
  </packageSources>
  
  <packageSourceCredentials>
    <github-electrified>
      <add key="Username" value="USERNAME" />
      <add key="ClearTextPassword" value="TOKEN" />
    </github-electrified>
  </packageSourceCredentials>
</configuration>
